html {
  font-family: 'Share Tech Mono', monospace;
}

$back-color: darkgrey;
$active: rgb(104, 204, 104);
$hover: rgb(165, 195, 155);

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url('./img/563b9347ab44a.jpg');
}

.active {
  background-color: $active;
}

.keyboard-print {
  font-family: 'Share Tech Mono', monospace;
  max-width: 759px;
  min-width: 759px;
  height: 300px;
  outline: none;
  margin: 2px;
  color: rgb(0,153,51);
  background-color: rgb(0,0,0);
  font-size: 18px;
  spellcheck: false;
}

.app-keyboard {
  width: 770px;
  padding: 5px;
  background-color: $back-color;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
}

.info {
  width: 760px;
  display: flex;
  justify-content: space-between;
  bottom: -20px;
  right: 0;
  height: 30px;
  background-color: $back-color;
  padding: 10px;
  color: whitesmoke;
  margin: 0 auto;
  & span {
    margin: 0 5px;
  }
  & .off {
    display: inline-block;
    color: red;
    width: 26px;
    background-color: whitesmoke;
    padding: 3px 6px;
    border-radius: 5px;
    font-weight: bold;
  }

  & .on {
    display: inline-block;
    width: 17px;
    margin-right: 14px;
    color: green;
  }
}


.keyboard {
  display: flex;
  flex-direction: column;
  & .button {
    width: 45px;
    height: 45px;
    margin: 2px;
    font-size: 16px;
    cursor: pointer;
    transition: all .3s ease;
    font-family: 'Share Tech Mono', monospace;
    border: none;
    color: grey;
    &:hover {
      background-color: $hover;
    }
    &:active {
      background-color: $active;
      color: wheat;
    }
  }
  & .row {
    display: flex;
  }
  & .backspace {
    width: 128px;
  }
  & .tab {
    width: 62px;
  }
  & .delete {
    width: 62px;
  }
  & .capslock {
    width: 87px;
  }
  & .enter {
    width: 135px;
  }
  & .shiftleft, .shiftright {
    width: 111px;
  }
  & .controlleft, .win, .altleft, .altright {
    width: 61px;
  }
  & .controlright {
    width: 62px;
  }
  & .space {
    width: 292px;
  }
}
